@import 'theme';

@font-face {
    font-family: Roboto;
    src: url(roboto-regular.ttf);
}

* {
    font-family: Roboto;
}

body {
    display: block;
    position:relative;
    min-height: 100vh;
    margin:0;
}

@import 'header';
@import 'footer';
