@font-face {
  font-family: Roboto;
  src: url(roboto-regular.ttf); }
* {
  font-family: Roboto; }

body {
  display: block;
  position: relative;
  min-height: 100vh;
  margin: 0; }

/* Header expanded at the top of the page */
#header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #4268a5;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* Container positioning */
  /* Styles for link buttons */ }
  #header .logo {
    margin-left: 30px;
    height: 100%;
    float: left; }
    #header .logo path, #header .logo ellipse {
      fill: #ffffff; }
  #header .box-1 {
    margin-top: 60px;
    margin-left: 40px;
    float: left; }
  #header .box-2 {
    margin-top: 10px;
    margin-right: 20px;
    float: right; }
  #header .box-1 a, #header .box-2 a {
    padding: 6px;
    height: 20px;
    background-color: transparent;
    color: #f2f2f2;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
    vertical-align: middle;
    transition: 0.15s;
    float: left; }
    #header .box-1 a svg, #header .box-2 a svg {
      width: 30px;
      height: 20px;
      fill: #f2f2f2; }
    #header .box-1 a:hover, #header .box-2 a:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: white; }
      #header .box-1 a:hover svg, #header .box-2 a:hover svg {
        fill: white; }
  #header #menu {
    margin-left: 10px;
    display: none; }
  #header #dropdown-nav {
    display: block;
    position: fixed;
    margin-top: 50px;
    width: 100%;
    height: 135px;
    overflow: hidden;
    background-color: #a6badb;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.2s; }
    #header #dropdown-nav ul {
      margin: 0; }
    #header #dropdown-nav li {
      border-top: 1px solid #d1d8e2;
      background-color: transparent;
      padding: 6px;
      list-style: none;
      text-align: center;
      transition: 0.15s; }
      #header #dropdown-nav li a {
        color: #172338;
        font-size: 1.1em;
        text-decoration: none;
        transition: 0.15s; }
      #header #dropdown-nav li:hover {
        background-color: rgba(0, 0, 0, 0.2); }
        #header #dropdown-nav li:hover a {
          color: #ffffff; }
  #header #dropdown-nav[drop="0"] {
    height: 0; }

/* Minimized navigation bar */
/* Responsive styles */
#header {
  transition: 0.2s; }
  @media only screen and (max-width: 800px) {
    #header {
      height: 50px; }
      #header .logo {
        margin-top: -7px;
        margin-left: 10px;
        height: 120%; }
      #header .box-1, #header .box-2 {
        margin-top: 10px; }
      #header .box-1 {
        margin-left: 0; } }
  @media only screen and (max-width: 600px) {
    #header .box-1 {
      display: none; }
    #header #menu {
      display: block; } }
  #header .logo, #header .box-1, #header .box-2 {
    transition: 0.2s; }

#header[minimize="1"] {
  position: fixed;
  width: 100%;
  height: 50px; }
  #header[minimize="1"] .logo {
    margin-top: -7px;
    margin-left: 10px;
    height: 120%; }
  #header[minimize="1"] .box-1, #header[minimize="1"] .box-2 {
    margin-top: 10px; }
  #header[minimize="1"] .box-1 {
    margin-left: 0; }

/* A spacer behind the floating header */
#header-spacer {
  height: 120px; }
  @media only screen and (max-width: 800px) {
    #header-spacer {
      height: 60px; } }

#footer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
  padding: 20px;
  background-color: #dddddd;
  color: #636363;
  font-size: 0.9em; }
  #footer a {
    color: #636363;
    text-decoration: none;
    padding: 6px 0; }
    #footer a svg {
      fill: #636363; }
    #footer a:hover {
      color: #161616; }
      #footer a:hover svg {
        fill: #161616; }
  #footer .box-1, #footer .box-2 {
    display: block;
    width: 100%; }
  #footer .box-1 {
    height: 50px;
    border-bottom: solid 1px #afafaf; }
    #footer .box-1 .box-1 {
      width: calc(50% - 25px);
      float: left; }
    #footer .box-1 .logo {
      display: block;
      margin-top: -20px;
      width: 60px;
      height: 60px;
      float: left; }
      #footer .box-1 .logo path, #footer .box-1 .logo ellipse {
        fill: #636363; }
      @media only screen and (max-width: 550px) {
        #footer .box-1 .logo {
          display: none; } }
    #footer .box-1 #social-links {
      float: right; }
      #footer .box-1 #social-links a {
        margin-left: 10px; }
        #footer .box-1 #social-links a svg {
          width: 30px;
          height: 30px; }
  #footer .box-2 {
    margin-top: 10px; }
    #footer .box-2 #support-links {
      float: right; }
      #footer .box-2 #support-links a {
        margin-left: 10px; }
  @media only screen and (max-width: 490px) {
    #footer .box-1 {
      height: 70px; }
      #footer .box-1 #social-links {
        margin-top: 30px; }
    #footer .box-2 {
      height: 50px; }
      #footer .box-2 #support-links {
        margin-top: 15px; } }

/*# sourceMappingURL=styles.css.map */
