$theme1-bg: #3d6dba;
$theme1-fg: #ffffff;
$theme2-bg: #444444;
$theme2-fg: #ffffff;

@mixin theme-font {
    @font-face {
        font-family: Roboto;
        src: url(roboto-regular.ttf);
    }
    
    * {
        font-family: Roboto;
    }
}
